@* <form method="post"> *@
@* <input type="text" name="t1" class="form-control"/> *@
@* <input type="text" name="t2" class="form-control" /><br /> *@
@* <button type="submit" class="btn btn-info">Add</button> *@
@* </form> *@

@* <div>The sum is: @ViewBag.res</div> *@
@* @ViewData["res"] *@
@ViewBag.res