 @model CarRentalApp.Models.Customer


<form method="post">
	<input type="text" asp-for=Username class="form-control"/>
	<span asp-validation-for=Username class="btn btn-warning"></span>
	<input type="text" asp-for=Pwd  class="form-control"/>
	<span asp-validation-for="Pwd" class="btn btn-warning"></span>
	<input type="submit" value="Login" class="btn btn-success"/>
</form>
@if(HttpMethods.IsPost(Context.Request.Method))
{
   <div class="btn btn-danger">
	@ViewData["err"]
   </div>
}